<!-- Portfolio Modals -->
{% for portfolio in site.portfolios %}
{% assign carousel_id = "carousel_portfolio_" | append: portfolio.key %}
<div
  class="portfolio-modal modal fade"
  id="{{ portfolio.key }}"
  tabindex="-1"
  role="dialog"
  aria-hidden="true"
>
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="close-modal" data-dismiss="modal">
        <div class="lr">
          <div class="rl"></div>
        </div>
      </div>
      <div class="container">
        <div class="modal-body">
          <div class="row">
            <div class="col-lg-8 mx-auto">
              <h2 class="text-uppercase">{{ portfolio.title }}</h2>
            </div>
          </div>
          <div class="row">
            <div class="col-lg-8 mx-auto">
              <!-- Image sldie -->
              <div id="{{ carousel_id }}" class="carousel slide" data-ride="carousel">
                <ol class="carousel-indicators">
                  {%- for image in portfolio.images.list -%}
                  <li data-target="#{{ carousel_id }}" data-slide-to="{{forloop.index-1}}" class="{% if forloop.index0 == 0 %}active{% endif %}"></li>
                  {%- endfor -%}
                </ol>
                <div class="carousel-inner">
                  {%- for image in portfolio.images.list -%}
                  <div class="carousel-item {% if forloop.index0 == 0 %}active{% endif %}">
                    <img src="{{ image.url }}" class="d-block w-100" alt="{{ image.alt }}">
                  </div>
                  {%- endfor -%}
                </div>
                <a class="carousel-control-prev" href="#{{ carousel_id }}" role="button" data-slide="prev">
                  <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                  <span class="sr-only">Previous</span>
                </a>
                <a class="carousel-control-next" href="#{{ carousel_id }}" role="button" data-slide="next">
                  <span class="carousel-control-next-icon" aria-hidden="true"></span>
                  <span class="sr-only">Next</span>
                </a>
              </div>
            </div>
          </div>
          <div class="row portfolio-info">
            <div class="col-lg-3 offset-lg-2">
              <p>Date: <br/>{{portfolio.projectDate}}</p>
            </div>
            <div class="col-lg-3">
                <p>Client: <br/>{{portfolio.company}}</p>
            </div>
            <div class="col-lg-2">
                <p>Category: <br/>{{portfolio.category}}</p>
            </div>
          </div>
          <div class="portfolio-skills">
            <div class="row">
              <div class="col-lg-8 mx-auto">
                <p>Skills:</p>
                <div class="portfolio-skills-grid">
                  {% for skill in portfolio.skills.list %}
                    <div class="skill-item">
                      <img src="{{ skill.url }}" alt="{{ skill.text }}">
                      <span>{{ skill.text }}</span>
                    </div>
                  {% endfor %}
                </div>
              </div>
            </div>
            

          </div>
          <div class="row">
            <div class="col-lg-8 mx-auto">
              <p>{{ portfolio.content }}</span>
            </div>
          </div>
          <div class="row">
            <div class="col-lg-2 mx-auto">
                <button
                  class="btn btn-primary"
                  data-dismiss="modal"
                  type="button"
                >
                  <i class="fas fa-times"></i>
                  {{ site.data.sitetext[site.locale].portfolio.closebutton |
                  default: "Close" }}
                </button>
              </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
{% endfor %}
<!-- End Portfolio Modals -->
